* {
    box-sizing: border-box;
}
body {

    
}

header {
    display: flex;
    background-image: url(./asset/css/images/Fon1.jpg);
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
   

}
.top {
    width: 250px;
}
.photo {
    height: 150px;
    margin-left: 40px;
    
    
}
section {
    height: 200px;
    display: flex;
    color: white;
    background-color: black;
    align-items: center;
    text-align: center;

    
    
    
}
.element {
    justify-content: space-around;
    
}
.text1 {
    margin: 10px;
}

.img {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: white;
}
.img2 {
    display: flex;
    font-size: 200px;
    text-align: left;
    margin-left: 300px;

}
.text2 {
    text-align: center;
}
main {
    height: 400px;
    display: flex;
    align-items: center;
    margin: 60px;

   
}
.main-sector {
    display: flex;
}
footer {
    padding: 15px;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
}